@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'fairfaxpona';
  src: url('fairfaxpona.ttf');
}
@font-face {
  font-family: 'bpdots';
  src: url('leko.otf') format('opentype');
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
/* Variables and root document-wide styles */
:root {
  --background-primary:  #000000;
  --background-secondary: #081122;
  --background-tertiary: #000000;
  --text-header: #33dddd;
  --text-default: #ffdddd;
  --link-default:  #22cccc;
  --link-hover:  #ffffff;
}


body {

  margin:0px;
  min-height: 100vh;
  background: var(--background-primary);
  color: var(--text-default);
}

/* Other document-wide styles */

a {
	color: var(--link-default);
  text-decoration: none;
  transition: 0.5s ease;
  border-bottom: 0px solid var(--link-default);
}

a:hover {
	color: var(--link-hover);
}



/* Headers */
h1, h2 {
   color: var(--text-header);
   text-align: center;
 font-family: bpdots;
}


h2 {
  border-bottom: 5px solid var(--text-header);
	font-size:30px;

	padding-left:20px;
	padding-right:20px;
}
/* navbar */
nav { 

  background: var(--background-secondary);

  width:100%;
	position: sticky;
 
  padding: 0px;
  height: fit-content;
}

nav ul {
  display: inline-block;
  vertical-align: top;
  list-style-type: none; 
  overflow: visible;

  padding: 0px;

  margin-inline-start: 12px;
  margin-inline-end: 12px;
  padding-inline-start: 0px;
}


nav li {
  margin: 4px 8px 12px 0px;
  display: inline-block;

  vertical-align: top;
}
#banner {
  height: 45px;
  width: 270px;
  display: inline-block;
  vertical-align: top;
  background: yellow;
}

nav li a, .nav-submenu summary {

   transition: 0.5s ease;
   color: var(--link-default);
   padding: 4px 0px 12px 0px;
   border-radius: 8px;
   background: var(--background-tertiary);
   font-family: bpdots;
   font-size:24px;
   text-decoration: none;  
   border-bottom: 6px solid var(--link-default);
}



.nav-submenu[open] > summary {
   background: var(--background-secondary);
}

.nav-submenu a {
  margin-left:5px
}

nav li a:hover, .nav-submenu summary:hover {
  color: var(--link-hover);
  border-bottom: 12px solid var(--link-hover);
}

/* Content Sections */
main {
  padding: 8px;
  height: 100%;
  margin: 0px;
	margin: auto;
}

main details {
  background: var(--background-tertiary);
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
}


main summary {
	font-family: Roboto Mono;
	font-size:22px;
}
body .sp {
   font-family: fairfaxpona;
}
body {
  font-family: Roboto Mono;
}
p, li{

	font-size:22px;
}