@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'fairfaxpona';
  src: url('fairfaxpona.ttf');
}
@font-face {
  font-family: 'bpdots';
  src: url('leko.otf') format('opentype');
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
/* Variables and root document-wide styles */
:root {
  --background-primary:  #000000;
  --background-secondary: #081122;
  --background-tertiary: #000000;
  --text-header: #33dddd;
  --text-default: #ffdddd;
  --text-accent: #ffaacc;
  --nav-accent:  #22cccc;
  --link-hover:  #ffffff;
}


body {

  margin:0px;
  min-height: 100vh;
  background: var(--background-primary);
  color: var(--text-default);
}

/* Other document-wide styles */

a {
	color: var(--text-accent);

  transition: 0.5s ease;
  border-bottom: 0px solid var(--text-accent);
}

a:hover {
	color: var(--link-hover);
}



/* Headers */
h1, h2, h3, h4, h5, h6 {

 font-family: bpdots;
}

h1,h2 {
  
  color: var(--text-header);
  text-align: center;
  border-bottom: 5px solid var(--text-header);
}

h3, h4, h5, h6 {
  text-decoration: underline;
  color: var(--text-accent);
}
h1 {
	font-size:30px;
}
/* navbar */
nav { 

  background: var(--background-secondary);

  width:100%;
	position: sticky;
  overflow: auto;

  padding: 0px;
  height: fit-content;
}

nav ul {
  
  display: flex;
  vertical-align: top;
  list-style-type: none; 
  overflow: visible;
  flex-direction: row; 
  flex-wrap: wrap; 
  padding: 8px;
  margin:0px;
  margin-inline-start: 12px;
  margin-inline-end: 6px;
  padding-inline-start: 0px;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

nav details {

  margin:0px;
  padding:0px;
  overflow:hidden;
}
nav li {
  margin: 4px 8px 8px 0px;

  height: 45px;
  vertical-align: top;
}
#banner {
  height: 45px;
  width: 270px;

  vertical-align: top;
  background: yellow;
}

nav li a, .nav-submenu summary {
  
  display: inline-block;
   transition: 0.5s ease;
   color: var(--nav-accent);
   padding: 4px 0px 8px 0px;
   border-radius: 8px;
   background: var(--background-tertiary);
   font-family: bpdots;
   font-size:24px;
   text-decoration: none;  
   border-bottom: 6px solid var(--nav-accent);
}



.nav-submenu[open] > summary {
  margin-right: 4px;
  background: var(--background-secondary);
}



nav li a:hover, .nav-submenu summary:hover {
  color: var(--link-hover);
  border-bottom: 12px solid var(--link-hover);
}

/* Content Sections */
main {
  padding: 8px;
  height: 100%;
  margin: 0px;
	margin: auto;
}

main details {
  background: var(--background-tertiary);
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
}


main summary {
	font-family: Roboto Mono;
	font-size:22px;
}
body .sp {
   font-family: fairfaxpona;
}
body {
  font-family: Roboto Mono;
}
p, li{
  
	font-size:15px;
}