<head>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://miton.si">
    <meta property="og:title" content="mi tonsi">
    <meta property="og:description" content="toki! lipu ni li lipu mi pi toki pona">
    <meta property="og:image" content="http://miton.si/images/favicon.png"> 
  
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="http://miton.si/stylesheet.css">
      <link id="fav-ico" rel="icon" type="image/x-icon" href="http://miton.si/images/favicon.ico">
      <title>lipu pi jan Jami</title>
      <meta name="description" content="miton.si homepage!">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>