#mante { 
   
    max-width: 720px;
    border-radius: 8px;
    
    
    padding: 8px;
    color: black;
    background: linear-gradient(-45deg, #aaddff, #ffcccc, #ffffff, #ffcccc, #aaddff)
}

#mante a {
    color: black;
    text-decoration-color: linear-gradient( #ff6666 0%,  #66ff66 33%, #6666ff 67%, #ff6666 100%);
}

#mante a:hover {
    color: black;
}

#mante table, #mante tbody tr {
    flex-direction: row;
    display:flex; 
    width: 100%;
    color: black;
    flex: 1;
    align-items: flex-end;
    justify-content: space-evenly;
}

.webring-prev,
.webring-next {
    flex: 1;
    flex-grow: 1;
}

.webring-next {
    text-align: right
}

.webring-info {
    width: 100%;
    flex: 4;
    flex-grow: 4;
    text-align: center;
}
