	<link rel="stylesheet" href="stylesheet.css">
<img id="banner" src="images/mitonsi.png">
  <ul class="sl">


		<li><a href="index.html">
      
      <b class="sp">tomo</b>
      <b class="sl">tomo</b>
    </a>
   
    </li>
    <!--
   		<li>
      <details class="nav-submenu">
        <summary>  
          <b class="sp">sitelen ante</b>
    
        </summary>
          <a href="#sp" class="sp">sitelen pona</a>
    <a href="#" class="sl" onclick="window.location.href = window.location.href.split('#')[0]">sitelen Lasin</a>

      </details> 
      </li> 
      -->
	</ul>