<nav>
<link rel="stylesheet" href="https://miton.si/stylesheet.css">
<script src="https://miton.si/ilokule.js"></script>
  <ul>
    <li><img id="banner" src="https://miton.si/images/mitonsi.png"></li>
		<li><a href="https://miton.si/index.php">
      <b class="sp">tomo</b>
      tomo
    </a>
    </li>
    <li><a href="https://miton.si/mi.php">
      <b class="sp">mi</b>
      mi
    </a>
    </li>
    <li>
        <a href="https://miton.si/sitelen">
        <b class="sp">sitelen</b>
        sitelen
        </a>
    </li>
     </ul>
</nav>
