<nav>
<link rel="stylesheet" href="../stylesheet.css">
<script src="ilokule.js"></script>
  <ul>
    <li><img id="banner" src="../images/mitonsi.png"></li>
		<li><a href="index.php">
      <b class="sp">tomo</b>
      tomo
    </a>
    </li>
    <li><a href="mi.php">
      <b class="sp">mi</b>
      mi
    </a>
    </li>
      <li>
        <details class="nav-submenu">
          <summary>
            <b class="sp">musi</b>
            <b>musi</b>
          </summary>
           (tenpo kama)
  
        </details> 
      </li>
</nav>
