<div id="mante" class="webring">
    <style>
        #mante { 
   
            
            border-radius: 8px;
            
            
            padding: 8px;
            color: black;
            background: linear-gradient(-45deg, #aaddff, #ffcccc, #ffffff, #ffcccc, #aaddff)
        }
        #mante .webring-inner {
            display:flex; 
            flex-direction: row;
        }
        #mante a {
            color: black;
            text-decoration-color: linear-gradient( #ff6666 0%,  #66ff66 33%, #6666ff 67%, #ff6666 100%);
        }
    
        #mante a:hover {
            color: black;
        }
    
        #mante table {
            width: 100%;
            color: black;
        }
    
        .webring-prev,
        .webring-next {
            width: 100px;
            flex-grow: 1;
        }
    
        .webring-next {
            text-align: right
        }
        
        .webring-info {
            flex-grow: 8;
            text-align: center;
        }
        
    </style>

        <div class="webring-inner">
            <span class="webring-prev"><a href="https://theplanetmercury.neocities.org/">&lt;- previous</a></span>
            <span class="webring-info">This site is part of the mante webring<br>
                    <a href="javascript:void(0)" onclick="randomSite()">random</a> | 
                    <a href="https://the-blob-system.neocities.org/mante_webring/webring">index</a> | 
                    <a href="https://garlic.garden/onionring/">what is this?</a></span>

            <span class="webring-next"><a href="https://motan.gay/">next -&gt;</a></span></td>
        </div>
    </tbody></table>
    
      
            <script type="text/javascript">
                // onionring.js is made up of four files - onionring-widget.js, onionring-index.js, onionring-variables.js (this one!), and onionring.css
// it's licensed under the cooperative non-violent license (CNPL) v4+ (https://thufie.lain.haus/NPL.html)
// it was originally made by joey + mord of allium (è’œ) house, last updated 2020-11-24

// === ONIONRING-VARIABLES ===
//this file contains the stuff you edit to set up your specific webring

//the full URLs of all the sites in the ring
var sites = [
'https://tabby-the-tabby.neocities.org/',
'https://theplanetmercury.neocities.org/',
'https://the-blob-system.neocities.org/',
'https://motan.gay/',
'https://temmiemew.neocities.org/',
'https://arrveetar.neocities.org/',
'https://umeja.neocities.org/',
'https://cvni1981.github.io/website/buttons/',
'https://kulijo.neocities.org/oops',
'https://abf.neocities.org/',
'https://jmibo.neocities.org',
'https://wormzlovezpikmin.neocities.org/',
'https://miton.si/'
];

//the name of the ring
var ringName = 'mante';

/* the unique ID of the widget. two things to note:
 1) make sure there are no spaces in it - use dashes or underscores if you must
 2) remember to change 'webringid' in the widget code you give out and all instances of '#webringid' in the css file to match this value!*/
var ringID = 'mante';

//should the widget include a link to an index page?
var useIndex = true;
//the full URL of the index page. if you're not using one, you don't have to specify anything here
var indexPage = 'https://the-blob-system.neocities.org/mante_webring/webring';

//should the widget include a random button?
var useRandom = true;
            </script>
            <script type="text/javascript" src="https://the-blob-system.neocities.org/mante_webring/onionring-widget.js"></script>
        </div>